<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjrz.user.dao.Server_infoMapper" >
  <resultMap id="BaseResultMap" type="com.hjrz.user.entity.Server_info" >
    <id column="siCode" property="siCode" jdbcType="BIGINT" />
    <result column="serverCode" property="serverCode" jdbcType="INTEGER" />
    <result column="siProcessor" property="siProcessor" jdbcType="VARCHAR" />
    <result column="cpuMixNumber" property="cpuMixNumber" jdbcType="VARCHAR" />
    <result column="sibrandName" property="sibrandName" jdbcType="VARCHAR" />
    <result column="siSize" property="siSize" jdbcType="VARCHAR" />
    <result column="sihardamount" property="sihardamount" jdbcType="VARCHAR" />
    <result column="sioperSystem" property="sioperSystem" jdbcType="VARCHAR" />
    <result column="siCPURAM" property="siCPURAM" jdbcType="VARCHAR" />
    <result column="productdesc" property="productdesc" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.hjrz.user.entity.Server_info" extends="BaseResultMap" >
    <result column="siDetails" property="siDetails" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    siCode, serverCode, siProcessor, cpuMixNumber, sibrandName, siSize, sihardamount, 
    sioperSystem, siCPURAM, productdesc
  </sql>
  <sql id="Blob_Column_List" >
    siDetails
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from server_info
    where siCode = #{siCode,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from server_info
    where siCode = #{siCode,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hjrz.user.entity.Server_info" >
    <selectKey resultType="java.lang.Long" keyProperty="siCode" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into server_info (serverCode, siProcessor, cpuMixNumber, 
      sibrandName, siSize, sihardamount, 
      sioperSystem, siCPURAM, productdesc, 
      siDetails)
    values (#{serverCode,jdbcType=INTEGER}, #{siProcessor,jdbcType=VARCHAR}, #{cpuMixNumber,jdbcType=VARCHAR}, 
      #{sibrandName,jdbcType=VARCHAR}, #{siSize,jdbcType=VARCHAR}, #{sihardamount,jdbcType=VARCHAR}, 
      #{sioperSystem,jdbcType=VARCHAR}, #{siCPURAM,jdbcType=VARCHAR}, #{productdesc,jdbcType=VARCHAR}, 
      #{siDetails,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hjrz.user.entity.Server_info" >
    <selectKey resultType="java.lang.Long" keyProperty="siCode" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into server_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serverCode != null" >
        serverCode,
      </if>
      <if test="siProcessor != null" >
        siProcessor,
      </if>
      <if test="cpuMixNumber != null" >
        cpuMixNumber,
      </if>
      <if test="sibrandName != null" >
        sibrandName,
      </if>
      <if test="siSize != null" >
        siSize,
      </if>
      <if test="sihardamount != null" >
        sihardamount,
      </if>
      <if test="sioperSystem != null" >
        sioperSystem,
      </if>
      <if test="siCPURAM != null" >
        siCPURAM,
      </if>
      <if test="productdesc != null" >
        productdesc,
      </if>
      <if test="siDetails != null" >
        siDetails,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serverCode != null" >
        #{serverCode,jdbcType=INTEGER},
      </if>
      <if test="siProcessor != null" >
        #{siProcessor,jdbcType=VARCHAR},
      </if>
      <if test="cpuMixNumber != null" >
        #{cpuMixNumber,jdbcType=VARCHAR},
      </if>
      <if test="sibrandName != null" >
        #{sibrandName,jdbcType=VARCHAR},
      </if>
      <if test="siSize != null" >
        #{siSize,jdbcType=VARCHAR},
      </if>
      <if test="sihardamount != null" >
        #{sihardamount,jdbcType=VARCHAR},
      </if>
      <if test="sioperSystem != null" >
        #{sioperSystem,jdbcType=VARCHAR},
      </if>
      <if test="siCPURAM != null" >
        #{siCPURAM,jdbcType=VARCHAR},
      </if>
      <if test="productdesc != null" >
        #{productdesc,jdbcType=VARCHAR},
      </if>
      <if test="siDetails != null" >
        #{siDetails,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hjrz.user.entity.Server_infoExample" resultType="java.lang.Integer" >
    select count(*) from server_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.hjrz.user.entity.Server_info" >
    update server_info
    <set >
      <if test="serverCode != null" >
        serverCode = #{serverCode,jdbcType=INTEGER},
      </if>
      <if test="siProcessor != null" >
        siProcessor = #{siProcessor,jdbcType=VARCHAR},
      </if>
      <if test="cpuMixNumber != null" >
        cpuMixNumber = #{cpuMixNumber,jdbcType=VARCHAR},
      </if>
      <if test="sibrandName != null" >
        sibrandName = #{sibrandName,jdbcType=VARCHAR},
      </if>
      <if test="siSize != null" >
        siSize = #{siSize,jdbcType=VARCHAR},
      </if>
      <if test="sihardamount != null" >
        sihardamount = #{sihardamount,jdbcType=VARCHAR},
      </if>
      <if test="sioperSystem != null" >
        sioperSystem = #{sioperSystem,jdbcType=VARCHAR},
      </if>
      <if test="siCPURAM != null" >
        siCPURAM = #{siCPURAM,jdbcType=VARCHAR},
      </if>
      <if test="productdesc != null" >
        productdesc = #{productdesc,jdbcType=VARCHAR},
      </if>
      <if test="siDetails != null" >
        siDetails = #{siDetails,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where siCode = #{siCode,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hjrz.user.entity.Server_info" >
    update server_info
    set serverCode = #{serverCode,jdbcType=INTEGER},
      siProcessor = #{siProcessor,jdbcType=VARCHAR},
      cpuMixNumber = #{cpuMixNumber,jdbcType=VARCHAR},
      sibrandName = #{sibrandName,jdbcType=VARCHAR},
      siSize = #{siSize,jdbcType=VARCHAR},
      sihardamount = #{sihardamount,jdbcType=VARCHAR},
      sioperSystem = #{sioperSystem,jdbcType=VARCHAR},
      siCPURAM = #{siCPURAM,jdbcType=VARCHAR},
      productdesc = #{productdesc,jdbcType=VARCHAR},
      siDetails = #{siDetails,jdbcType=LONGVARCHAR}
    where siCode = #{siCode,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hjrz.user.entity.Server_info" >
    update server_info
    set serverCode = #{serverCode,jdbcType=INTEGER},
      siProcessor = #{siProcessor,jdbcType=VARCHAR},
      cpuMixNumber = #{cpuMixNumber,jdbcType=VARCHAR},
      sibrandName = #{sibrandName,jdbcType=VARCHAR},
      siSize = #{siSize,jdbcType=VARCHAR},
      sihardamount = #{sihardamount,jdbcType=VARCHAR},
      sioperSystem = #{sioperSystem,jdbcType=VARCHAR},
      siCPURAM = #{siCPURAM,jdbcType=VARCHAR},
      productdesc = #{productdesc,jdbcType=VARCHAR}
    where siCode = #{siCode,jdbcType=BIGINT}
  </update>
</mapper>