<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjrz.user.dao.User_basic_infoMapper" >
  <resultMap id="BaseResultMap" type="com.hjrz.user.entity.User_basic_info" >
    <id column="user_basic_Code" property="user_basic_Code" jdbcType="INTEGER" />
    <result column="user_login_phone" property="user_login_phone" jdbcType="VARCHAR" />
    <result column="user_password" property="user_password" jdbcType="VARCHAR" />
    <result column="user_info_state" property="user_info_state" jdbcType="VARCHAR" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
    <result column="create_time" property="create_time" jdbcType="TIMESTAMP" />
    <result column="last_login_time" property="last_login_time" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    user_basic_Code, user_login_phone, user_password, user_info_state, create_time, last_login_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_basic_info
    where user_basic_Code = #{user_basic_Code,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_basic_info
    where user_basic_Code = #{user_basic_Code,jdbcType=INTEGER}
  </delete>
  
  <!-- 注册 -->
  <insert id="insert" parameterType="com.hjrz.user.entity.User_basic_info"  keyProperty="user_basic_Code" useGeneratedKeys="true">
    insert into user_basic_info (user_login_phone, 
      user_password, user_info_state, create_time, 
      last_login_time)
    values (#{user_login_phone,jdbcType=VARCHAR}, 
      #{user_password,jdbcType=VARCHAR},
       #{user_info_state,jdbcType=VARCHAR,typeHandler=org.apache.ibatis.type.EnumTypeHandler},
       NOW(), 
       NOW())
  </insert>
  
  <insert id="insertSelective" parameterType="com.hjrz.user.entity.User_basic_info" >
    insert into user_basic_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="user_basic_Code != null" >
        user_basic_Code,
      </if>
      <if test="user_login_phone != null" >
        user_login_phone,
      </if>
      <if test="user_password != null" >
        user_password,
      </if>
      <if test="user_info_state != null" >
        user_info_state,
      </if>
      <if test="create_time != null" >
        create_time,
      </if>
      <if test="last_login_time != null" >
        last_login_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="user_basic_Code != null" >
        #{user_basic_Code,jdbcType=INTEGER},
      </if>
      <if test="user_login_phone != null" >
        #{user_login_phone,jdbcType=VARCHAR},
      </if>
      <if test="user_password != null" >
        #{user_password,jdbcType=VARCHAR},
      </if>
      <if test="user_info_state != null" >
        #{user_info_state,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null" >
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="last_login_time != null" >
        #{last_login_time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
   <select id="selectPhoneAlive"  parameterType="java.lang.Long"  resultType="java.lang.Integer">
  	select 
   	count(*)
    from user_basic_info
    where user_login_phone = #{user_login_phone,jdbcType=VARCHAR}
  </select>
  
  <select id="countByExample" parameterType="com.hjrz.user.entity.User_basic_infoExample" resultType="java.lang.Integer" >
    select count(*) from user_basic_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
   <select id="userLogin" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_basic_info
    where user_login_phone = #{user_login_phone,jdbcType=VARCHAR} 
    and user_password = #{user_password,jdbcType=VARCHAR} 
  </select>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.hjrz.user.entity.User_basic_info" >
    update user_basic_info
    <set >
      <if test="user_login_phone != null" >
        user_login_phone = #{user_login_phone,jdbcType=VARCHAR},
      </if>
      <if test="user_password != null" >
        user_password = #{user_password,jdbcType=VARCHAR},
      </if>
      <if test="user_info_state != null" >
        user_info_state = #{user_info_state,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null" >
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="last_login_time != null" >
        last_login_time = #{last_login_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_basic_Code = #{user_basic_Code,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hjrz.user.entity.User_basic_info" >
    update user_basic_info
    set user_login_phone = #{user_login_phone,jdbcType=VARCHAR},
      user_password = #{user_password,jdbcType=VARCHAR},
      user_info_state = #{user_info_state,jdbcType=VARCHAR},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      last_login_time = #{last_login_time,jdbcType=TIMESTAMP}
    where user_basic_Code = #{user_basic_Code,jdbcType=INTEGER}
  </update>
</mapper>