
/* Carousel base class */
#myCarousel {
  height: 570px;
}
/* Declare heights because of positioning of img element */

.carousel-caption {
  z-index: 200;
}

#myCarousel .item {
  height: 570px;
}
.carousel-inner > .item > img {
	width: 100%;
	height: 100%;
}
