.signform{
	margin-left:200px;
	margin-right:200px;
}
.hru{
	height:10px;
	border:none;
	border-top:10px groove skyblue;
}
.textform{
	margin-left: 150px; 
	margin-right: 150px;
}
.userbtn{
	float:right;
	margin-top:-75px;
	margin-right:40px;
}
