body.login{ background:url(/images/login/login_bgx.gif);}
/*--login--*/
.login_m{ width:403px;height:375px; margin-top:160px; margin-right: 100px; float:right; /*position: absolute;left:50%;top:50%;margin-left:-202px;margin-top:-188px;*/}
.ad_m{width: 180px;height:100px;margin-top:120px;float:left;}
.login_boder{ background: url(/images/login/login_m_bg.png) no-repeat; height:302px; overflow:hidden;}
.login_padding{ padding:47px 47px 20px 47px;}